absl-py==2.1.0                 # TensorFlow 및 Google 라이브러리에서 사용되는 유틸리티 모듈
asgiref==3.8.1                 # Django와 같은 비동기 웹 프레임워크에 필요한 ASGI 레퍼런스 라이브러리
astunparse==1.6.3              # Python AST를 파싱하여 원래의 소스 코드로 변환하는 도구
attrs==24.2.0                  # 클래스의 필드를 쉽게 선언할 수 있는 간단한 라이브러리
beautifulsoup4==4.12.3         # HTML, XML 파일 파싱을 위해 사용하는 라이브러리 (웹 스크래핑에 많이 사용)
blinker==1.8.2                 # Flask와 같은 프레임워크에서 신호 전달을 위한 라이브러리
certifi==2024.8.30             # 신뢰할 수 있는 루트 인증서를 제공하는 SSL 인증서 라이브러리
cffi==1.17.1                   # C 코드와 Python 코드를 상호작용할 수 있게 하는 FFI 인터페이스 라이브러리
charset-normalizer==3.3.2      # 문자 인코딩을 감지하고 처리하기 위한 라이브러리
click==8.1.7                   # 명령줄 인터페이스(CLI)를 쉽게 생성하기 위한 라이브러리
colorama==0.4.6                # Windows 콘솔에서 색상 출력을 지원하는 라이브러리
config==0.5.1                  # 간단한 설정 파일 관리를 위한 라이브러리
dj-database-url==2.2.0         # Django 데이터베이스 URL 파싱을 위한 유틸리티
Django==5.1.1                  # Python을 위한 강력한 웹 프레임워크
django-bootstrap4==24.4        # Django 프로젝트에서 Bootstrap 4를 쉽게 통합하기 위한 라이브러리
djangorestframework==3.15.2    # Django에서 REST API를 쉽게 만들 수 있게 도와주는 프레임워크
Flask==3.0.3                   # 경량 Python 웹 애플리케이션 프레임워크
flatbuffers==24.3.25           # 효율적인 직렬화 형식 제공 라이브러리
gast==0.6.0                    # TensorFlow에서 코드 분석을 위해 사용되는 AST 라이브러리
gensim==4.3.3                  # 자연어 처리 및 주제 모델링을 위한 라이브러리 (워드 임베딩 등)
geographiclib==2.0             # 지리적 계산을 수행하기 위한 라이브러리
geopy==2.4.1                   # 주소와 지리 좌표 간의 변환을 지원하는 라이브러리
google-pasta==0.2.0            # TensorFlow에서 사용되는 Python 패키지 및 코드 리팩토링 도구
grpcio==1.66.1                 # Google의 원격 프로시저 호출(RPC) 프레임워크
h11==0.14.0                    # 저수준 HTTP/1.1 클라이언트-서버 프로토콜 구현
h5py==3.11.0                   # HDF5 파일 포맷을 다루기 위한 Python 인터페이스
idna==3.10                     # 국제화 도메인 이름(Internationalized Domain Names)을 처리하기 위한 라이브러리
itsdangerous==2.2.0            # Flask 등에서 데이터를 안전하게 서명하고 검증하기 위한 라이브러리
Jinja2==3.1.4                  # Flask 및 Django에서 템플릿 렌더링을 위한 템플릿 엔진
joblib==1.4.2                  # Python에서 병렬 처리를 쉽게 해주는 라이브러리
keras==3.5.0                   # 텐서플로우의 고수준 API로 신경망을 쉽게 만들 수 있게 해주는 라이브러리
libclang==18.1.1               # LLVM의 Clang 컴파일러 라이브러리 인터페이스
lxml==5.3.0                    # XML 및 HTML 파싱을 위한 고성능 파서
Markdown==3.7                  # Markdown을 HTML로 변환하기 위한 라이브러리
markdown-it-py==3.0.0          # Markdown 구문을 파싱하는 라이브러리
MarkupSafe==2.1.5              # HTML 및 XML 내에서 텍스트를 안전하게 처리하는 라이브러리
mdurl==0.1.2                   # URL을 파싱하기 위한 라이브러리
ml-dtypes==0.4.1               # 머신러닝 모델에서 사용하는 데이터 타입을 관리하는 라이브러리
namex==0.0.8                   # 이름 처리 관련 유틸리티 라이브러리
numpy==1.26.4                  # 수치 계산을 위한 Python 라이브러리
opt-einsum==3.3.0              # 최적화된 Einstein summation을 수행하는 라이브러리
optree==0.12.1                 # 데이터 구조 변환 유틸리티 라이브러리
outcome==1.3.0.post0           # 비동기 코드의 결과를 캡슐화하기 위한 라이브러리
packaging==24.1                # Python 패키지 관리 도구
pandas==2.2.3                  # 데이터 분석과 조작을 위한 Python 라이브러리
pip==24.2                      # Python 패키지 설치 도구
protobuf==4.25.5               # 구조적 데이터를 직렬화하는 프로토콜 버퍼 라이브러리
pycparser==2.22                # C 코드를 Python으로 파싱하는 라이브러리
Pygments==2.18.0               # 소스 코드에 색상 구문을 추가해주는 하이라이터 라이브러리
PySocks==1.7.1                 # 소켓을 통해 프록시 지원을 제공하는 라이브러리
python-dateutil==2.9.0.post0   # 날짜와 시간을 쉽게 처리할 수 있게 해주는 라이브러리
python-decouple==3.8           # 환경 변수 및 설정 파일 관리 라이브러리
python-dotenv==1.0.1           # `.env` 파일을 읽어서 환경 변수를 설정하는 라이브러리
pytz==2024.2                   # Python에서 시간대(timezone)를 쉽게 처리할 수 있도록 도와주는 라이브러리
requests==2.32.3               # HTTP 요청을 보내기 위한 라이브러리
rich==13.8.1                   # 콘솔에서 보기 좋은 출력 및 트리 구조 출력을 위한 라이브러리
scikit-learn==1.5.2            # 머신러닝을 위한 라이브러리
scipy==1.13.1                  # 과학 및 공학 계산을 위한 라이브러리
selenium==4.25.0               # 웹 브라우저 자동화를 위한 라이브러리
setuptools==75.1.0             # Python 패키지 설정 도구
six==1.16.0                    # Python 2와 3의 호환성을 위한 유틸리티 라이브러리
smart-open==7.0.4              # 클라우드 저장소와 같은 위치에서 파일을 쉽게 열 수 있도록 해주는 라이브러리
sniffio==1.3.1                 # 비동기 라이브러리 감지를 위한 유틸리티
sortedcontainers==2.4.0        # 정렬된 리스트를 쉽게 사용할 수 있도록 해주는 라이브러리
soupsieve==2.6                 # BeautifulSoup에서 CSS 선택기를 사용해 검색할 수 있게 해주는 라이브러리
sqlparse==0.5.1                # SQL 구문 파싱을 위한 라이브러리
tensorboard==2.17.1            # TensorFlow 모델 학습을 시각적으로 확인할 수 있는 도구
tensorboard-data-server==0.7.2 # TensorBoard의 데이터 서버 역할을 하는 라이브러리
tensorflow==2.17.0             # 딥러닝과 머신러닝 모델을 만들기 위한 오픈소스 라이브러리
tensorflow-intel==2.17.0       # Intel에서 최적화된 TensorFlow 버전
termcolor==2.4.0               # 터미널에서 텍스트에 색을 추가해주는 라이브러리
threadpoolctl==3.5.0           # Python에서 여러 쓰레드를 사용한 실행 제어
trio==0.26.2                   # 비동기 Python 프로그램을 작성하기 위한 라이브러리
trio-websocket==0.11.1         # Trio와 함께 사용할 수 있는 WebSocket 클라이언트 및 서버 라이브러리
typing_extensions==4.12.2      # Python 타이핑 시스템 확장을 위한 라이브러리
tzdata==2024.2                 # 최신 시간대 데이터 제공
urllib3==2.2.3                 # HTTP 클라이언트를 위한 기능을 제공하는 라이브러리
websocket-client==1.8.0        # 웹소켓 클라이언트를 위한 라이브러리
Werkzeug==3.0.4                # Flask의 WSGI 유틸리티 라이브러리
wheel==0.44.0                  # Python 패키징을 위한 표준 형식
wrapt==1.16.0                  # 데코레이터와 래핑 유틸리티를 제공하는 라이브러리
wsproto==1.2.0                 # WebSocket 프로토콜 구현
